.TodoTemplate {
  width: 512px;
  margin-left: auto; /* 우측으로 이동 */
  margin-right: auto; /* 좌측으로 이동 해서 가운대 정렬 */
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden; /* 내용이 넘치면 자르고 자른부분은 보여주지 않습니다 */

  .app-title {
    background: #22b8cf;
    color: white;
    height: 4rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center; /* 수직정렬 */
    justify-content: center; /* 중앙정렬 */
  }
  .content {
    background: white;
  }
}
